*.iml
*.jks
*.keystore
keystore.properties
.gradle/
/local.properties
/.idea/
/build/
/app/build/
/app/release/
*.aab
*.apk
/captures/
.externalNativeBuild/
.cxx/

# Xcode / iOS
ios/DerivedData/
ios/build/
*.xcuserstate
xcuserdata/
